[2020-07-26 11:12] swarajpure opened #2 "FAQs"
Let's start writing questions and their answers here.

[2020-07-26 11:17] strider99 commented on #2
Q - How do i contribute to RDS?

[2020-07-26 11:18] strider99 commented on #2
Q - I don't know GIT. Can  I still contribute ?

[2020-07-26 11:20] ankushdharkar commented on #2
These two questions are enough to start. Let's add more questions after we have something on the page. Thanks guys!

[2020-07-26 11:21] bharatgupta77 commented on #2
okay !!!

[2020-07-26 11:22] swarajpure commented on #2
Q. What is Real Dev Squad?

[2020-07-26 11:24] swarajpure commented on #2
Real Dev Squad is a community of developers, where we come together to learn, use that in building projects, prepare for interviews, help each-other, put those projects online and try to help the set of new developers or freshers, helping them get better jobs and higher salaries with quality work. We come from all walks of lives and all kinds of background, with one thing in common: Wanting to wor

[2020-07-26 11:41] swarajpure commented on #2
As of now we're having 4 projects. Every project and the corresponding tech stack is mentioned below:

- [Welcome ](https://github.com/Real-Dev-Squad/website-welcome): HTML, CSS, Vanilla Javascript
- [Members ](https://github.com/Real-Dev-Squad/website-members): React
- [Events](https://github.com/Real-Dev-Squad/rds-events-website): React
- [Main ](https://github.com/Real-Dev-Squad/website-emberjs

[2020-07-26 11:54] swarajpure commented on #2
Q. I get what is the squad about, but how do I join the squad?

[2020-07-26 12:04] swarajpure commented on #2
We communicate over a Discord channel. If you wish to join the Discord channel, please contact any of our members to get invitation link.

---------------------------------------------------------------------------------------------------------
We can add the link to the members page, so that it'll be easier for the users to navigate.

[2020-07-26 12:06] bharatgupta77 commented on #2
@swarajpure i have using these question answer to see how everything looks .

[2020-07-26 12:07] swarajpure commented on #2
Q. Where can I find the repository for Real Dev Squad?

[2020-07-26 12:09] swarajpure commented on #2
You can find all the projects under Real Dev Squad [here](https://github.com/Real-Dev-Squad).

[2020-07-27 11:27] sheenachhabradev opened #8 "Code of Conduct"
- We are dedicated to building a positive environment that inculcates open learning and high respect  for one another.

[2020-07-27 11:39] strider99 commented on #8
No trolling.
No spamming off topic stuff.
(In details)

[2020-07-27 11:53] swarajpure commented on #8
If you've just joined the community, kindly introduce yourself in #newcomers channel.

Try to avoid DM'ing members for help. Use #support channel instead.

Try to avoid @everyone and @here unless something important/urgent/both.

[2020-07-27 13:14] sheenachhabradev commented on #8
Google your queries. Before your seek help.
When seeking help, Submit the code in an easy-to-evaluate fashion. Share a Codepen link instead of a Github link.
Overall challenge yourself. Take up tasks poractively and update your progress
It helps to have a picture on your discord & Github profiles.

[2020-08-02 08:44] sheenachhabradev opened #14 "Navbar for welcome module."

[2020-08-02 08:46] sheena-chhabra opened #15 "Media Queries- Make module more responsive."

[2020-08-02 08:59] sheenachhabradev opened #16 "Accessibility of website for different sections ."
https://www.w3.org/WAI/standards-guidelines/wcag/

[2020-08-02 09:08] sheena-chhabra opened #17 "Using css properties to beautify the default style for links."

[2020-08-02 09:09] sheenachhabradev opened #18 "Add icon logo in the title bar."
https://www.geeksforgeeks.org/how-to-add-icon-logo-in-title-bar-using-html/

[2020-08-02 09:12] sheenachhabradev opened #19 "Search for questions in FAQ using keywords."
eg: in case there are 50 questions and user wants to read on questions only about "discord" .  User should be able  to search using the key word "Discord".

[2020-08-02 09:29] sheenachhabradev commented on #18
In photoshop we can create favicon
You can do this in illistratar or inkscape, wix, figma,invision
https://www.figma.com/ for design
https://www.wix.com/logo/maker

[2020-08-02 10:25] swarajpure commented on #14
Assigned to me and @bharatgupta77

[2020-08-02 10:26] karnsweta92 opened #20 "Discord page should match branding"
Contains channel description for Real dev Squad Community.

[2020-08-02 10:30] karnsweta92 commented on #16
I will be doing this task.

[2020-08-02 10:35] karnsweta92 commented on #16
It is added so that it becomes accessible to everyone i.e. allowing people with disabilities to be able to have equal access to Real Dev Squad.

[2020-08-02 11:22] ashishmangla0 commented on #18
I am taking this can someone assing this to me?

[2020-08-02 14:42] saishankarmanugula commented on #17
Assigned to me.

[2020-08-02 17:01] swarajpure commented on #14
Hey, I'd like to work on this issue. Kindly assign it to me.

[2020-08-03 16:44] strider99 commented on #15
I have checked both FAQ, welcome and discord page. As of now all seem responsive. Kindly take a look and see if all good then we can close this issue.

[2020-08-03 16:51] strider99 commented on #15
image in discord is not mobile responsive.

[2020-08-03 18:36] ankushdharkar opened #23 "Links hover should be gradual"
Right now, the colors are quite flashy. We want to apply a transition to make them change in and out smoother for a better UX

![image](https://user-images.githubusercontent.com/1935403/113658777-86a0be00-9655-11eb-97a2-e8fe9084fad8.png)

[2020-08-03 18:49] ankushdharkar opened #24 "Update the FAQ page to match the branding"
Right now https://welcome.realdevsquad.com/faq looks out of place:

![image](https://user-images.githubusercontent.com/1935403/89216467-11717a80-d5e8-11ea-8371-f73f80fe30e7.png)

[2020-08-03 18:59] karnsweta92 commented on #24
I am picking this task.Kindly assign it.
CC: @ankushdharkar @sheenachhabradev

[2020-08-04 06:39] saishankarmanugula opened #25 "Making the image on discord page responsive"
Making the image on discord page responsive

[2020-08-04 06:40] saishankarmanugula commented on #25
Assign to me.

[2020-08-04 06:50] karnsweta92 commented on #25
I am already working on this in https://github.com/Real-Dev-Squad/website-welcome/issues/24

[2020-08-04 08:13] saishankarmanugula commented on #25
Closing this issue as @karnsweta92  is already on it

[2020-08-04 08:13] #25 closed

[2020-08-05 22:02] tejasberi commented on #20
@ankushdharkar where can i find the banding guidelines?

[2020-08-07 10:26] strider99 commented on #18
Favicon added to the title.

![image](https://user-images.githubusercontent.com/7549876/89636623-8aaded80-d8c6-11ea-89b2-7847bbfbc509.png)

[2020-08-07 10:26] #18 closed

[2020-08-07 11:12] swarajpure opened #29 "Link CONTRIBUTING.md to FAQs"
This is a beginner-friendly issue, meant for newcomers. Please let the newcomers pick this up and work on it.

What you're supposed to do:
- Add link to CONTRIBUTING.md (https://github.com/Real-Dev-Squad/website-welcome/blob/main/CONTRIBUTING.md) under "I don't know Git. Can I still contribute?" question.
- Also add little description like "Learning Git is highly recommended, but if you do not kno

[2020-08-10 02:44] tejasberi commented on #14
bharat added the navbar

[2020-08-10 02:44] #14 closed

[2020-08-10 02:58] swarajpure opened #38 "Fix typos on Code of Conduct page"
There are some typos on the CoC page: https://welcome.realdevsquad.com/code-of-conduct.html

This is a beginner-friendly issue.

Don't know how to proceed? This should help: https://github.com/Real-Dev-Squad/website-welcome/blob/main/CONTRIBUTING.md

Please comment down if you're going to work on this issue, so that it can be assigned to you.

[2020-08-10 03:10] swarajpure opened #39 "Add margin to the h1 on the FAQ page"
There seems to be 0 margin between the navbar and h1 on the [FAQ](https://welcome.realdevsquad.com/faq.html) page:

![image](https://user-images.githubusercontent.com/56217868/89749301-bf978b80-dae4-11ea-9ce3-0f2d14de3c33.png)

This can be solved by adding `margin-top: 1em` to the h1 (make sure to give it an id and style that id, so in case we add one more h1 to the page, that wouldn't get affecte

[2020-08-10 03:34] swarajpure opened #40 "Some minor changes in CONTRIBUTING.md"
- navbar.html is not yet added in File Structure in CONTRIBUTING.md : add title as "For the navigation bar"
- rename readme.md to README.md
- rename contribution.md to CONTRIBUTING.md

![image](https://user-images.githubusercontent.com/56217868/89750057-f7540280-dae7-11ea-9136-0cef31bd2304.png)

Use any online Markdown editor to preview changes before you commit them (for example, https://markdown

[2020-08-10 05:03] Rucha1499 commented on #38
I can work on it. Can you please assign it to me?

[2020-08-10 05:06] Rucha1499 commented on #39
I can work on it. Can you assign this to me?

[2020-08-10 06:15] karnsweta92 commented on #20
Changes are submitted and merged.
Closing the issue.

[2020-08-10 06:15] #20 closed

[2020-08-10 07:52] bharatgupta77 opened #42 "Make navbar sticky"

[2020-08-10 07:55] bharatgupta77 commented on #42
I am solving this issue.

[2020-08-13 17:34] #42 closed

[2020-08-13 17:38] #39 closed

[2020-08-13 17:38] bharatgupta77 commented on #39
Actually it has already been solved as there was styling given to h1 in main.css. No need.

[2020-08-13 18:19] bharatgupta77 opened #48 "Footer missing in Discord Page."
There is no footer on discord page.
Link : https://welcome.realdevsquad.com/discord.html .

If you don't know how to proceed, please check  https://github.com/Real-Dev-Squad/website-welcome/blob/main/CONTRIBUTING.md . It will surely help you to know how to contribute to Real-Dev-Squad.

Please comment down if you are willing  to work on this issue, so that we can be assigned  this issue to you.

[2020-08-14 03:27] #38 closed

[2020-08-15 15:23] #29 closed

[2020-08-16 04:38] #40 closed

[2020-08-17 16:31] Raunak-Agrawal opened #52 "Change the font family and avoiding use of too many colors"

[2020-08-18 18:30] swarajpure opened #53 "Link to code of conduct in README"
Link to the code of conduct page is missing in the README file.

Link: https://welcome.realdevsquad.com/code-of-conduct.html

[2020-08-21 13:55] strider99 opened #55 "Discord Page layout"
![Screenshot from 2020-08-21 19-24-15](https://user-images.githubusercontent.com/7549876/90898244-f8d4d300-e3e3-11ea-8de1-6f7f10adfee0.png)

- Its difficult to read with this view.
- CSS can be modified to make it easier to read.

[2020-08-23 17:15] #48 closed

[2020-08-23 17:15] #53 closed

[2020-08-24 14:31] swarajpure opened #56 "Add transitition effects to FAQs expanding and collapsing"
On the [FAQ](https://welcome.realdevsquad.com/faq) page, the questions are expanding to show the answer, but it's not smooth, it's jerky.

![FAQs](https://i.imgur.com/hG8nPKa.gif)

It can fixed by adding some smooth transition (**hint**: transform property of CSS)

You can comment down if you want to take this up, so that it can be assigned to you.

[2020-08-24 14:57] swarajpure opened #57 "Make questions on the FAQ page clickable"
As of now, only clicking on the + icon reveals the answer. If a user clicks on question, nothing happens.
It'd be better if the same behaviour is executed on clicking the question as well.

![FAQs-clicking](https://i.imgur.com/la1pcx2.gif)

Comment down here if you are going to work on this issue, so that it can be assigned to you.

[2020-08-25 12:03] Biswa55 opened #59 "Task"
Give me some task for practical knowledge

[2020-08-25 12:06] Biswa55 commented on #59
I want to take some assignment to get practical knowledge

[2020-08-26 05:09] #59 closed

[2020-08-26 10:18] Biswa55 commented on #56
Assigned to me,I will do it

[2020-08-29 13:01] ankushdharkar opened #60 "Login button to appear on Welcome site"
It should also perform similar to https://github.com/Real-Dev-Squad/website/issues/52
![RDSLogin](https://user-images.githubusercontent.com/1935403/91637441-07476e00-ea26-11ea-9302-0fd7e17a6a45.png)

[2020-09-26 10:41] Biswa55 commented on #57
I would like to work on this .. please assign me this

[2020-10-05 17:22] swarajpure opened #62 "Add crypto and backend to FAQs"
As of now crypto and backend repos are not added to our projects in FAQs
**Crypto**: Next.js (React framework)
**Backend**: Node.js

Link the repos to in the FAQs

[2020-10-09 17:31] #62 closed

[2020-10-14 11:13] #60 closed

[2020-10-19 13:50] Rucha1499 opened #67 "Unexpected behaviour of login feature on welcome site"
Below attached is the video of the issue.

![Issue](https://user-images.githubusercontent.com/66248039/96458935-20f37d80-123f-11eb-95bb-ce7f9a9d95b6.gif)

Once the login is successful on welcome site, the user is redirected to https://www.realdevsquad.com/. When user wishes to go back to welcome site, an unexpected page appears before user switches back to welcome site.

[2020-11-01 05:57] gauravchauhan2403 commented on #57
Please assign this to me. I would like to work on this

[2020-11-01 10:52] gauravchauhan2403 commented on #57
@swarajpure I have the Pull Request. Kindly review and merge it . Ask for any changes if required.

[2020-11-01 10:54] gauravchauhan2403 commented on #57
@swarajpure  I have opened the pull request. Kindly Review and Merge it. Ask for changes if required.

[2020-11-02 08:14] gauravchauhan2403 commented on #56
@swarajpure  Is this issue still open. I would like to work on it.

[2020-11-02 10:45] gauravchauhan2403 commented on #56
is @biswajitripathy Still working on this.

[2020-11-02 10:46] swarajpure commented on #56
There has been no reply from him since he has taken the issue. Transferring the issue to you now.

[2020-11-03 06:14] swarajpure commented on #57
Issue solved. Closing issue.

[2020-11-03 06:14] #57 closed

[2020-11-05 18:47] gauravchauhan2403 commented on #56
@swarajpure  Please Review it and suggest me changes if needed.

[2020-11-10 14:34] sheenachhabradev opened #76 "logo in the nav bar"
- logo in the nav bar on the top-left
- clicking it should take us to our root domain(https://www.realdevsquad.com/)

[2020-11-10 15:38] gauravchauhan2403 commented on #56
@swarajpure  @ankushdharkar  Another PR have Been made Please review it and merge.

[2020-12-26 18:52] RohitKuwar commented on #52
@Raunak-Agrawal Please provide description

[2021-01-11 07:18] swarajpure opened #79 "Add new projects in FAQs"
Currently our FAQ section doesn't have `status` and `my` repos
Also, the main app should link to https://github.com/Real-Dev-Squad/website-www which is plain HTML, CSS
Status: https://github.com/Real-Dev-Squad/website-status : Which uses React, TypeScript
My: https://github.com/Real-Dev-Squad/website-my/ : Which uses Ember

[2021-01-11 08:56] PremanandChowdhury commented on #79
Hey, I have made the changes and created a PR for the same do check and guide me for further changes if any.
Thank You.
Link: https://github.com/Real-Dev-Squad/website-welcome/pull/80

[2021-01-11 09:20] #79 closed

[2021-02-03 16:01] swarajpure opened #82 "Logo missing in the title bar for all pages other than the home page"
We can see the logo in the title bar for homepage:
![image](https://user-images.githubusercontent.com/56217868/106773219-d6b7d000-6666-11eb-9fc0-4f4e22e63e26.png)

However, the logo in title bar is missing for all other pages:
![image](https://user-images.githubusercontent.com/56217868/106773369-fcdd7000-6666-11eb-8283-b74db2127152.png)

![image](https://user-images.githubusercontent.com/56217868/

[2021-02-14 05:18] swarajpure commented on #82
Solved

[2021-02-14 05:18] #82 closed

[2021-02-25 06:56] Rucha1499 commented on #56
This issue is solved, Closing it.

[2021-02-25 06:56] #56 closed

[2021-02-25 07:11] Rucha1499 opened #87 "Same design of the Navigation bar for all the pages of the welcome site."
Every page on welcome site has a different design of navbar.

![image](https://user-images.githubusercontent.com/66248039/109116350-63394800-7766-11eb-9df8-577a630c3df0.png)

![image](https://user-images.githubusercontent.com/66248039/109116418-7c41f900-7766-11eb-991b-78bdf41c86fa.png)

![image](https://user-images.githubusercontent.com/66248039/109116436-86fc8e00-7766-11eb-8fa7-6af55cf19517.png)

[2021-02-25 07:15] Rucha1499 commented on #8
Done! Closing this issue.

[2021-02-25 07:15] #8 closed

[2021-02-25 07:20] Rucha1499 commented on #55
This issue is solved. Closing it now,

[2021-02-25 07:20] #55 closed

[2021-02-25 07:22] Rucha1499 commented on #24
FAQ page updated. Closing this issue!

[2021-02-25 07:22] #24 closed

[2021-02-25 07:26] Rucha1499 commented on #2
Questions for FAQ added. Closing this.

[2021-02-25 07:26] #2 closed

[2021-02-25 07:41] Rucha1499 opened #88 "Fix the FAQ page - Changing of +/- signs"
- In the below image, the sign should be `-` when clicked on the question, according to desired behaviour.

![image](https://user-images.githubusercontent.com/66248039/109119509-cc22bf00-776a-11eb-8ce7-7e0b362f948e.png)

[2021-02-25 09:47] TD-17 commented on #87
I will work on this !

[2021-02-25 12:32] Rucha1499 commented on #87
Sure!

[2021-02-25 13:44] swarajpure commented on #87
@TD-17 We (Real Dev Squad) are a community of developers consisting on college students and working professionals. We communicate over Discord. You might want to join the community, you'll get A LOT to learn 😄
We have got projects like this repository which use simple HTML, CSS and vanilla JavaScript and also projects based on React, Ember and Vue for frontend and on Node for backend. Since we're

[2021-02-25 13:53] swarajpure commented on #87
@TD-17 We (Real Dev Squad) are a community of developers consisting on college students and working professionals. We communicate over Discord. You might want to join the community, you'll get A LOT to learn 😄
We have got projects like this repository which use simple HTML, CSS and vanilla JavaScript and also projects based on React, Ember and Vue for frontend and on Node for backend. Since we're

[2021-02-25 13:54] swarajpure commented on #87
@TD-17 We (Real Dev Squad) are a community of developers consisting on college students and working professionals. We communicate over Discord. You might want to join the community, you'll get A LOT to learn 😄
We have got projects like this repository which use simple HTML, CSS and vanilla JavaScript and also projects based on React, Ember and Vue for frontend and on Node for backend. Since we're

[2021-02-25 14:21] TD-17 commented on #87
Thank you !

[2021-02-25 15:57] ashwindevx commented on #87
@Rucha1499 Done!

I'm pretty new to contributing so excuse me for any PR mistakes. Actually, this was my first contribution.

My branch name is `my-branch`

Thank you

[2021-02-25 16:33] swarajpure commented on #87
Hey @ashwindevx
Congratulations on your first contribution! 🎉

As we are open source, all the issues are visible to whole of the world. Since there are so many people, GitHub provides an official way to assign issues and this particular issue was already assigned to @TD-17

Also, you haven't made any PR in the first place. But I went to your profile and checked for the code change. That's a lot of

[2021-02-25 17:59] TD-17 commented on #87
@Rucha1499  It is completed! I have created a PR

[2021-02-26 05:23] ashwindevx commented on #87
@swarajpure Totally understand what you said. Thank you for the help. I'm pretty new to Open Source that's why I made these mistakes. But learned a lot and will take your advice for upcoming contributions. Thank you🙏🏻👍🏻

[2021-02-26 05:25] ashwindevx commented on #88
I will fix the issue.✅ @Rucha1499

[2021-02-26 05:55] swarajpure commented on #87
Thank you for taking it positively. Highly appreciate it! 🙂

We (Real Dev Squad) are a community of developers consisting on college students and working professionals. We communicate over Discord. You might want to join the community, you'll get A LOT to learn 😄
We have got projects like this repository which use simple HTML, CSS and vanilla JavaScript and also projects based on React, Ember and

[2021-02-26 15:40] Rucha1499 opened #93 "Change of Navigation bar for all the pages of welcome site."
We need to have a similar navbar for all the pages of the welcome site. Below mentioned is the desired design of navbar.

![image](https://user-images.githubusercontent.com/66248039/109320949-9a971a00-7876-11eb-91c0-5108cf60cd27.png)

We have this navbar on other projects in RDS and hence we should have similar one on welcome site.

![image](https://user-images.githubusercontent.com/66248039/10968

[2021-02-27 04:37] ashwindevx commented on #87
Thank you! Appreciate it! Joined mate!

Can you assign me this issue https://github.com/Real-Dev-Squad/website-welcome/issues/88?

[2021-02-27 06:43] TD-17 commented on #88
Can I work on this issue ? @Rucha1499

[2021-02-27 08:49] TD-17 commented on #88
Have u assigned this issue to anyone ?  @Rucha1499

[2021-02-27 10:54] Rucha1499 opened #96 "Fix the working of login button"
Update the code for the expected working of login button, that is when logged in , it should show `Hello, <username>`

[2021-02-27 11:01] #96 closed

[2021-02-27 11:14] #87 closed

[2021-02-27 11:17] Rucha1499 commented on #88
@TD-17 I have assigned this issue to @ashwindevx as he commented on it first! Will get you new issue to solve.  Thank you. 😄
.

[2021-02-27 11:30] swarajpure commented on #87
Sorry but this issue is closed now. I guess you've got another issue to work on 😉
Also, please message on the discord server whenever you wish to work on a particular issue as most of us don't check GitHub notifications (there are a lot of them 😅)

[2021-03-01 10:58] swarajpure commented on #93
We need to have a discussion on this issue. Once that is done, this issue will be available to be picked up

[2021-03-02 18:16] Rucha1499 opened #99 "Change in design of the home page of welcome site."
Below attached is the existing design of welcome site.
![image](https://user-images.githubusercontent.com/66248039/109694394-c422af00-7bb0-11eb-9499-d64bd35253e2.png)

We need to change it a bit.
- Move the text highlighted in blue colour below social media handles i.e  above the footer
- Remove the RDS logo
- Replace the logo with 3 cards/ boxes containing links to `FAQ`, `Discord` and `Code of C

[2021-03-02 18:33] TD-17 commented on #99
Hey can I take this issue? @Rucha1499

[2021-03-02 18:39] Rucha1499 commented on #99
Sure @TD-17 🎉

[2021-03-04 11:25] swarajpure opened #101 "Some modifications required in the projects list in FAQ"
The [FAQ](https://welcome.realdevsquad.com/faq.html) page:
![image](https://user-images.githubusercontent.com/56217868/109956206-681f6e00-7d09-11eb-8f87-2559c7dc64e0.png)

Problems:
1. [Status](https://github.com/Real-Dev-Squad/website-status) site is missing which uses `Next.js, TypeScript`
2. `Members` site uses `Next.js`
3. `Main App` and `Events` are not currently being worked on, can be remov

[2021-03-04 11:42] ASHWINIAJIT commented on #101
Hello @swarajpure, I want to work on this issue.

Please assign it to me.

[2021-03-05 12:59] #99 closed

[2021-03-05 15:37] swarajpure opened #105 "Changes required in CONTRIBUTING.md"
- Our current CONTRIBUTING.md specifies to use `git merge`. We should be instead using `git rebase` to have a clean commit history and to not have a truck load of unnecessary commits in our PR.
- Also, the PR base is said to be `main`. We should be making PRs from the `feature`/`fix` branches instead.

[2021-03-05 17:21] #105 closed

[2021-03-06 05:44] Rucha1499 commented on #101
Issue solved! Closing it,

[2021-03-06 05:44] #101 closed

[2021-03-06 05:48] Rucha1499 opened #108 "Addition of hover effect and make the cards clickable."
![image](https://user-images.githubusercontent.com/66248039/110196864-5951cc00-7e6d-11eb-81bb-cf7fa2d6481d.png)

- In the above image from https://welcome.realdevsquad.com/ , we can see 3 cards. We need to add some hovering effect to these cards.
- Also presently, only the text in the cards is clickable. We need to make the whole card clickable.

[2021-03-07 07:12] DaniManas commented on #88
I will work on this issue

[2021-03-07 07:13] Rucha1499 commented on #88
Assigned it to @DaniManas 👍

[2021-03-09 05:53] swarajpure opened #115 "Remove unnecessary files"
Check if we really need:
[code]

[2021-03-11 10:35] DaniManas commented on #88
https://imgur.com/9pMxTsi

[2021-03-14 05:51] Rucha1499 commented on #108
Issue solved in #112

[2021-03-14 05:51] #108 closed

[2021-03-14 05:52] Rucha1499 commented on #93
Issue solved in PR #102

[2021-03-14 05:52] #93 closed

[2021-03-14 05:52] Rucha1499 commented on #76
Issue solved!

[2021-03-14 05:52] #76 closed

[2021-03-14 15:31] #88 closed

[2021-03-16 15:06] swarajpure opened #132 "Set up CI (Continuous Integration) using GitHub Actions"
We need to have CI using GitHub Actions which will run the `npm run check` script to check if the formatting of the code is correct or not.

Reference: https://docs.github.com/en/actions/guides/about-continuous-integration
Existing CI file from another project for reference: https://github.com/Real-Dev-Squad/website-backend/blob/develop/.github/workflows/test.yml

You'll have to setup CI in your f

[2021-03-16 17:16] Rucha1499 opened #133 "Adding `rel=noopener` / `rel=nonreferrar` to the external links in code."
We have the links to external sites in our application. For e.g : links to social media handles.

Adding `rel="noopener"` / `rel="nonreferrar"` to the external links in code will improve performance and prevent security vulnerabilities. Refer the image below. 👇

![image](https://user-images.githubusercontent.com/66248039/111350471-28ad3600-86a8-11eb-90d0-34c004cf7864.png)

We can simply add -

[2021-03-16 17:35] shetty-shithil commented on #133
This is a great method for preventing security vulnerabilities.

[2021-03-17 10:14] rahullli commented on #132
I would like to work on this issue .

[2021-03-18 05:20] #133 closed

[2021-03-18 05:42] Rucha1499 opened #136 "Bug in working of +/- icons on FAQ page."
![issue](https://user-images.githubusercontent.com/66248039/111578485-3e227d00-87da-11eb-984b-87271d328b3d.gif)

Refer the above video. The FAQ icons work as expected when clicked on that particular question. But if answer of one question is already open, and we click the other question, the previously opened answer minimizes but the corresponding `-` icon doesn't change back to `+`.  The expected

[2021-03-18 06:02] iRahulP commented on #136
Hi @Rucha1499 , Can I start working on this issue?

[2021-03-18 06:04] Rucha1499 commented on #136
Sure!!

[2021-03-18 07:36] Pavangbhat opened #137 "Text of login btn position of navbar on small screen"
![image](https://user-images.githubusercontent.com/45538392/111588943-3b2f8880-87ea-11eb-940d-5edc5712dbc7.png)

### Text alignment of login button on small screen needs to be aligned according to burger menu

![image](https://user-images.githubusercontent.com/45538392/111588920-323eb700-87ea-11eb-8183-2e4e01b94b39.png)

pull request #138

[2021-03-18 15:50] ankushdharkar opened #139 "Design Welcome site"
https://welcome.realdevsquad.com/

Currently our site lacks consistency in the elements and colors. We should make it awesome!

Mobile design also matters

[2021-03-18 16:32] ankushdharkar opened #140 "Show user profile image if logged in"
![image](https://user-images.githubusercontent.com/1935403/111662030-cbf76b80-87cc-11eb-8cac-22bfa767276c.png)

[2021-03-18 16:36] ankushdharkar opened #141 "Reduce font size for info note"
Reduce the font size for "info note" text to 20px

![image](https://user-images.githubusercontent.com/1935403/111662432-25f83100-87cd-11eb-8131-1e7272cce370.png)

[2021-03-19 17:25] ptechofficial commented on #141
Can i work on this?

[2021-03-19 17:30] ptechofficial opened #142 "Removing the text with social media icons"
I think having only social media icons is a more subtle approach rather than adding a text with them.
![image](https://user-images.githubusercontent.com/64535754/111819732-b6865c80-8906-11eb-86af-5314929ce403.png)

[2021-03-19 17:32] ptechofficial opened #143 "Styling the links on the homepage"
These links can be styled to suit the ambience of the home page
![image](https://user-images.githubusercontent.com/64535754/111820108-1bda4d80-8907-11eb-991e-3fbf097c6700.png)

[2021-03-19 20:28] ankushdharkar commented on #141
Yes @ptechofficial, thank you.
Assigning it to you.

[2021-03-20 05:54] Rucha1499 commented on #143
This page belongs to https://www.realdevsquad.com/. There is a separate repository for this project : https://github.com/Real-Dev-Squad/website-www. Can we have this issue over there?

[2021-03-20 05:54] Rucha1499 commented on #142
This page belongs to https://www.realdevsquad.com/. There is a separate repository for this project : https://github.com/Real-Dev-Squad/website-www. Can we have this issue over there?

[2021-03-20 05:56] ptechofficial commented on #143
Yeah, sure!

[2021-03-20 06:12] #143 closed

[2021-03-20 06:12] #142 closed

[2021-03-20 11:48] iRahulP commented on #136
Hi @Rucha1499 ,
I have created a PR for this fix, but am not able to assign, and edit anything like adding reviewers.
https://github.com/Real-Dev-Squad/website-welcome/pull/145

Is there any access issue related to my profile as of which I am not able to edit it?

[2021-03-20 18:21] Rucha1499 commented on #141
Issue solved in PR : #144

[2021-03-20 18:21] #141 closed

[2021-03-31 19:06] Devashish0210 commented on #115
I'll help with this.

[2021-04-04 04:47] #115 closed

[2021-04-06 04:27] Devashish0210 commented on #23
I'll help with this.

[2021-04-06 06:53] swarajpure commented on #132
Unassigning @rahullli as there were no updates from the user from 20 days after 4 reminders

[2021-04-06 11:38] sebuelias commented on #132
I would like to try to take up this issue.

[2021-04-08 19:24] #132 closed

[2021-04-09 04:10] Rucha1499 commented on #137
Fixed it!

[2021-04-09 04:10] #137 closed

[2021-04-09 04:11] Rucha1499 commented on #136
Issue fixed via #145

[2021-04-09 04:11] #136 closed

[2021-04-18 17:02] Rucha1499 opened #156 "Add settings for styling the code to .prettierrc.json"
The file `.prettierrc.json` is currently empty. Add the settings for styling the code to it.

[2021-04-29 18:00] ankushdharkar opened #158 "Make the navbar logo smaller"
![image](https://user-images.githubusercontent.com/1935403/116597154-185cbd80-a8da-11eb-8f8a-a7ab8aec0146.png)

Please make it 50px X 50px

[2021-04-29 18:03] imaxisXD commented on #158
I can take this task up

[2021-04-29 22:42] callapa1 opened #160 "Make the navbar the same for all pages except external links"
The navbar and its number of items change from page to page as it does its height. The logo doesn't show in all pages. There is different types of hover in different pages.

There should be only one navbar with one css that repeats in all pages.

[2021-05-21 04:38] #156 closed

[2021-06-06 11:20] KhushalAbrol commented on #160
I can try, please assign me this issue.

[2021-06-09 14:24] KhushalAbrol commented on #160
#163 please review

[2021-06-19 09:11] swarajpure commented on #158
Unassigning imaxisXD for no further action

[2021-06-19 09:19] ghosharnab969 commented on #158
I am interested to take up the task

[2021-06-21 19:51] #158 closed

[2021-08-02 17:05] Rucha1499 opened #169 "Re-design of the welcome-site Navbar and Header"
Welcome site is to be re-designed according to the design below. 👇

Refer this figma link : https://www.figma.com/file/OBKehkbowYSTE7xAgsRx2m/Welcome-Page?node-id=0%3A1

The task is to design the `Navbar` and the `Header` below it.

Refer this image
![image](https://user-images.githubusercontent.com/66248039/127898224-07f81fe3-3df4-4a07-8c89-abc72d7bc6bf.png)

[2021-08-02 17:11] Rucha1499 opened #170 "Re-design of welcome site - Part of site which contains links to docs and members page"
We have a new design for https://welcome.realdevsquad.com/

Check it out here - https://www.figma.com/file/OBKehkbowYSTE7xAgsRx2m/Welcome-Page?node-id=0%3A1

Design the below mentioned part of welcome site referring to the above figma link.
![image](https://user-images.githubusercontent.com/66248039/127898924-4ee75a87-2467-48f5-8557-77dfbf1e3042.png)

[2021-08-02 17:16] Rucha1499 opened #171 "Re-design welcome site - Events, Introductory video section and footer."
We are having a new design for welcome site (https://welcome.realdevsquad.com/)

Check it out here - https://www.figma.com/file/OBKehkbowYSTE7xAgsRx2m/Welcome-Page?node-id=0%3A1

Referring to the above figma, design the below mentioned part of the page! 👇
![image](https://user-images.githubusercontent.com/66248039/127899376-9705db5a-7f00-42c1-aa83-c3fb413d57f8.png)

[2021-08-02 17:23] ghosharnab969 commented on #169
I would like to take up

[2021-08-02 17:23] Pujarini commented on #171
Please assign this to my name

[2021-08-02 17:24] Pujarini commented on #171
i would like to take this up

[2021-08-02 17:27] Ishikabaid commented on #170
I would like to take this up.

[2021-08-03 17:35] Utkarsh-droid commented on #169
I would  like to take up the issue

[2021-08-03 17:50] Utkarsh-droid commented on #169
can you provide access to the image in header content

[2021-08-03 18:30] swarajpure commented on #169
The issue is already assigned to someone. Can you please look for an issue which is unassigned?
You can join our server to take up more of such tasks! Join us and upskill yourself 😄
Join the discord server here: https://discord.gg/rWcb4bR4

[2021-08-03 18:30] swarajpure commented on #169
@Utkarsh-droid

[2021-08-05 17:16] Rucha1499 opened #172 "Remove capitalization of letters in each word in FAQ section."
![image](https://user-images.githubusercontent.com/66248039/128392702-1d8b5a22-d513-4a74-82c8-0cf8c1f77202.png)
In the above image you can see every first letter of word is Capital.

[2021-08-05 17:32] Ardnetih10 commented on #172
I would like to do this task.

[2021-08-05 17:39] Rucha1499 opened #173 "Add a line separator between question and answer for the last question in FAQ section"
![image](https://user-images.githubusercontent.com/66248039/128395913-c6855da3-5f22-4e3a-8e0f-0c8cf67d39cb.png)

In the above image you can also see a blue line which acts as a separator between question and answer. It is missing in the last question. Please add it. Refer to the image below.

![image](https://user-images.githubusercontent.com/66248039/128393084-5ca5e732-b386-44f3-b740-529ffc6fc587

[2021-08-05 17:43] musabansari-1 commented on #173
I would like to take up the task.

[2021-08-05 23:50] arsheelsheikh commented on #173
I would like to do this task.

[2021-08-07 02:00] TheCoolGDev commented on #172
Can i do this task?

[2021-08-07 14:51] Rucha1499 commented on #172
Hey! @TheCoolGDev
This issue was already assigned to @Hitendra10 and a PR is also raised for that. The issue will be closed now.

You can find many such issues which are not assigned here - https://github.com/Real-Dev-Squad. Feel free join our discord server by using the following link - https://discord.gg/uuEEdf6s. Join us and upskill yourself! 🎉

[2021-08-07 14:52] Rucha1499 commented on #172
Fixed with #174

[2021-08-07 14:52] #172 closed

[2021-08-12 07:58] Rucha1499 opened #176 "Make the FAQ page keyboard accessible"
We have our FAQ page - https://welcome.realdevsquad.com/faq.html on welcome site. The question-answers on it are in the form of accordion. Currently, they can only be expanded/collapsed using mouse. We want to make them keyboard accessible.

This link can be used for reference - https://www.w3.org/TR/wai-aria-practices-1.1/examples/accordion/accordion.html

[2021-08-12 13:35] ghosharnab969 commented on #176
@Rucha1499 I would like to take up this task

[2021-08-12 14:48] Ponmani-Geeky commented on #176
i would like to work on it ,please assign to me

[2021-08-12 15:38] Ponmani-Geeky commented on #176
i can able to expand/collapse using keyboard space bar/Enter,so it's already working right?

[2021-08-22 07:24] RezaHabibi1001 commented on #139
Hi I will bring some changes in your project as soon as possible

[2021-08-24 12:43] Hitendra10 commented on #67
can you assign me this issue?

[2021-08-24 19:25] Hitendra10 commented on #139
can i get assigned to this task?

[2021-08-29 06:55] Rucha1499 opened #180 "Make the header and navbar responsive"
The design of welcome site is not responsive. It is breaking for small screens.
Refer the images below!

![image](https://user-images.githubusercontent.com/66248039/131241473-b9f0287e-2402-4199-9eb4-eab987d8dc4a.png)
![image](https://user-images.githubusercontent.com/66248039/131241487-c976a59b-a167-4b7b-a158-6b96855a4716.png)
![image](https://user-images.githubusercontent.com/66248039/131241495-5

[2021-09-27 04:46] Devashish0210 opened #185 "Dark Mode for Welcome Site"
follow https://github.com/Real-Dev-Squad/website-todo-items/issues/46 for color pallete.
Use cookie for changing the theme. On every load function should check the cookie value and add/remove the CSS class according to it.

[2021-09-28 18:57] swarajpure opened #186 "Add ids to questions"

[2021-09-28 18:58] swarajpure commented on #186
Creating new one

[2021-09-28 18:58] #186 closed

[2021-09-28 18:59] swarajpure opened #187 "FAQs should be link-able"
On the FAQ page: https://welcome.realdevsquad.com/faq.html, if I wanted to give someone a link for a particular question, I can't do that. I have to give the link of whole page and then I have to mention which question to be looked after.

If you want to understand more on what I want to say, check the below links and observe the difference, they will take you different section on the same page:
-

[2021-09-29 04:30] Manie-oss commented on #187
I will do it.

[2021-10-03 08:38] yas-sisodia commented on #173
@Rucha1499  please allow me to work on this project I can do this

[2021-10-03 08:41] yas-sisodia commented on #171
@Rucha1499 Please allow me to work on this Project I can do this

[2021-10-03 08:45] yas-sisodia commented on #169
@Rucha1499 Please allow me to work on this project I can do this

[2021-11-06 17:59] #187 closed

[2021-11-06 18:04] swarajpure opened #190 "Fix FAQ page CSS in `develop` branch"
Currently we are redesigning the welcome site and the design is partially implemented. Whatever is implemented is merged in `develop` branch and is deployed to https://staging-welcome.realdevsquad.com, this code will eventually be merged to the `main` branch

Old, stable version of code is in `main` branch and is deployed to https://welcome.realdevsquad.com

Now if you see the FAQ page in both of

[2021-11-06 18:28] ican8 commented on #190
Can I work on this issue?

[2021-11-09 07:01] akshay1502 opened #192 "Add staging login link"
Change the production and staging login link according to environment.[here](https://github.com/Real-Dev-Squad/website-welcome/blob/259b3e223ab7955fa8bf0a97e8bde10809b91983/index.html#L84)
Link for production - https://github.com/login/oauth/authorize?client_id=23c78f66ab7964e5ef97
Link for staging - https://github.com/login/oauth/authorize?client_id=c4a84431feaf604e89d1

For reference https://git

[2021-11-16 19:01] NetanelK commented on #171
@Rucha1499 I can help

[2021-11-22 07:20] Ishikabaid opened #194 "Enhancement of the redesigned welcome site"
We are redesigning the welcome site and the basic design is implemented [here](https://staging-welcome.realdevsquad.com/) but there are a few things which we need to fix in order to implement the whole design successfully.

1. Right now there is a horizontal scroll on the site, we need to remove that.
2. We need to remove the underline on `check them out` text and align it with the adjacent arrow

[2021-11-22 07:32] #170 closed

[2021-11-23 05:44] #171 closed

[2021-11-24 08:21] ambiexplores commented on #194
Hey! I can start working on the task

[2021-11-24 17:21] pranali-os commented on #169
hi, I wanted to make it mobile friendly. Assign me. :)

[2021-11-25 11:40] ambiexplores commented on #194
@Ishikabaid ..PR created: https://github.com/Real-Dev-Squad/website-welcome/pull/195

[2021-11-25 16:56] Ishikabaid opened #196 "Fix discord page CSS in `develop` branch"
Currently we are redesigning the welcome site and the design is partially implemented. Whatever is implemented is merged in `develop` branch and is deployed to https://staging-welcome.realdevsquad.com, this code will eventually be merged to the `main` branch

Old, stable version of code is in `main` branch and is deployed to https://welcome.realdevsquad.com

Now if you see the Discord page in both

[2021-12-02 06:21] #190 closed

[2021-12-06 13:24] Rucha1499 opened #197 "Fix alignment of social handle's logos"
![image](https://user-images.githubusercontent.com/66248039/144858485-38a58e2e-d0ec-4d24-827d-5ac655fa6c74.png)

1) The logos of the social handles are not aligned properly with the text. It will look better if vertically centered.

refer : https://staging-welcome.realdevsquad.com/

[2021-12-06 13:47] Rucha1499 commented on #197
Issue solved in PR #195

[2021-12-06 16:46] Youspeakcubic commented on #197
Hello, Could i work on this?

[2021-12-07 03:22] divyakelaskar commented on #192
Hey @akshay1502,
Can I work on this ?

[2021-12-07 03:42] Yogeshp0012 commented on #197
Hey, Can I work on this?

[2021-12-07 09:18] akshay1502 commented on #192
Sure. I am assigning you this task. For any queries use `#welcome-site-vanilla` channel.

[2021-12-07 09:25] divyakelaskar commented on #192
okay 👍

[2021-12-07 16:01] rohan09-raj commented on #197
@Youspeakcubic Assigning you the task.

[2021-12-07 17:22] rohan09-raj commented on #197
Sorry,  @Yogeshp0012, @Youspeakcubic  has asked first to work on this, so assigned to him/her.
Would you both like to join our discord server, we are a community of developers where people learn and grow together. All levels are welcome.
Check out the website which is built by the developers of this community under the guidance of @ankushdharkar.
https://www.realdevsquad.com/
Discord:
https://disc

[2021-12-08 05:15] Yogeshp0012 commented on #197
Its okay 🤗

[2021-12-08 23:09] Youspeakcubic commented on #197
Hey @Yogeshp0012, Don't think ill be able to work on this for a while so you can work on it if you are still interested. Sorry for the delay, i will unassign myself.

[2021-12-24 06:17] #173 closed

[2021-12-27 17:55] akashbhadouria commented on #192
Hey @akshay1502 can you assign me this task?

[2021-12-29 07:00] Rucha1499 commented on #197
Fixed in PR #201

[2021-12-29 07:00] #197 closed

[2021-12-29 07:00] Rucha1499 commented on #180
Issue fixed

[2021-12-29 07:00] #180 closed

[2021-12-29 07:01] Rucha1499 commented on #169
Issue fixed

[2021-12-29 07:01] #169 closed

[2021-12-29 07:02] Rucha1499 commented on #139
Issue fixed

[2021-12-29 07:02] #139 closed

[2021-12-29 07:02] Rucha1499 commented on #52
Issue fixed with new design!

[2021-12-29 07:02] #52 closed

[2021-12-29 07:07] Rucha1499 commented on #194
Fixed in PR - #201 #200

[2021-12-29 07:07] #194 closed

[2022-01-01 18:04] Rucha1499 commented on #160
Issue fixed in PR #201

[2022-01-01 18:04] #160 closed

[2022-01-01 18:05] Rucha1499 commented on #15
Issue fixed!

[2022-01-01 18:05] #15 closed

[2022-01-01 18:06] Rucha1499 commented on #17
Issue solved!

[2022-01-01 18:06] #17 closed

[2022-01-01 18:10] Rucha1499 commented on #140
Issue fixed!

[2022-01-01 18:10] #140 closed

[2022-01-01 18:10] Rucha1499 commented on #23
Issue fixed!

[2022-01-01 18:10] #23 closed

[2022-01-02 05:53] #196 closed

[2022-01-02 09:53] rohan09-raj opened #206 "Centre Align Heading"
In the desktop view of the `discord` page, the heading is not center-aligned. It needs to be center-aligned.
Check Image for reference
![image](https://user-images.githubusercontent.com/78433013/147872231-7bb7e473-3a7c-419d-a9d9-1cdd1aa669b6.png)

[2022-01-02 09:58] rohan09-raj opened #207 "404 for Events site on Linked Pages"
When we go to any of the three pages `FAQ`, `Discord` and `Code of Conduct`,
![image](https://user-images.githubusercontent.com/78433013/147872313-d9a47bf5-cde8-43a3-8731-261697034bad.png)

then click on the `Events` tab in the navbar, we are getting a `404`.
![image](https://user-images.githubusercontent.com/78433013/147872331-19dce1f1-465f-4a9a-9b0d-0d239322d158.png)

URL for Events Page : `http

[2022-01-02 10:01] priyanshk20 commented on #206
I want to take up this task. Please assign

[2022-01-02 10:01] shobit1337 commented on #207
Hey @rohan09-raj, I would like to work on this one.

[2022-01-04 06:19] #206 closed

[2022-01-06 15:41] #207 closed

[2022-01-07 07:56] Chaitanya7666 commented on #176
I wanted to contribute to the issue & when I checked [faq's page](https://welcome.realdevsquad.com/faq.html#How-do-I-join-the-squad), it seems to work pretty good. @Rucha1499, If there is anything else that I am missing out on, kindly guide me.

[2022-01-07 10:09] dhanush027 commented on #192
Could you assign it to me

[2022-01-07 16:37] Rucha1499 opened #212 "Fix the buttons for screen sizes from 426px - 670px and reduce the font size of heading"
![image](https://user-images.githubusercontent.com/66248039/148574786-eaa2df0f-c894-4eeb-9d0c-662467ffed03.png)

- In the above image, we can that the buttons are not of same dimensions. The content in it won't allow 3 buttons in a row for smaller screen size (426px- 670px). Hence, we need to change the layout of buttons from row --> column. Please refer the below image for the same.

![image](htt

[2022-01-07 16:48] manavsiddharthgupta commented on #212
can you assign me.

[2022-01-07 16:58] oneonone97 commented on #212
Can you assign me the above task? Thank You!

[2022-01-15 08:40] rohan09-raj opened #218 "Update the file structure in `CONTRIBUTING.md`"
Current File Structure in CONTRIBUTING.md
![image](https://user-images.githubusercontent.com/78433013/149615561-d8b719c8-5317-4b0b-ae5f-30019d88f65d.png)

Update this to the current file structure we have in repository

[2022-01-15 08:44] akash2819 commented on #218
Please assign me

[2022-01-15 08:44] oneonone97 commented on #218
Can you assign me this?
Thank You

[2022-01-15 09:15] 7ORP3DO opened #219 "Add meta tags for good SEO"
The index.html file does not contain meta tags for SEO.

**Missing Tags:**
- [ ] Description
- [ ] Robots
- [ ] Keywords
- [ ] Canonical

[2022-01-15 09:16] 7ORP3DO commented on #219
Please assign me on this issue.

[2022-01-15 09:52] NaincyKumariKnoldus commented on #219
Hey @7ORP3DO Can I do this please?

[2022-01-15 10:00] SidharajYadav commented on #218
Respect Sir,
I'm Siddharaj Yadav a computer engineering undergraduate, Pursuing TE at D Y Patil College under (Pune University).
I am new to open source contribution but I am well aware of Python,Django,HTML and Git& GitHub. I would to contribute to your organization but could you please tell me how to get started? Gsoc
Hoping to hear from you soon
Regards
Siddharaj Yadav
mail- sidharajyadav157@gm

[2022-01-15 10:20] NaincyKumariKnoldus commented on #218
Hey @rohan09-raj Can I do this please?

[2022-01-15 10:22] NaincyKumariKnoldus commented on #192
Hey @akshay1502 Can I do this please?

[2022-01-15 10:50] rohan09-raj commented on #218
Uh oh! sorry already assigned to someone else.
![image](https://user-images.githubusercontent.com/78433013/149619034-d96a049b-9f1e-4ce5-9114-90c96afea978.png)
You can always check the assignee's section before commenting.

[2022-01-15 10:52] NaincyKumariKnoldus commented on #218
okay no problem.

[2022-01-15 10:52] SidharajYadav commented on #218
Yes BroI try for gsoc Whats why commentSent from Mail for Windows From: Rohan Raj GuptaSent: Saturday, January 15, 2022 4:20 PMTo: Real-Dev-Squad/website-welcomeCc: SidharajYadav; CommentSubject: Re: [Real-Dev-Squad/website-welcome] Update the file structure in `CONTRIBUTING.md` (Issue #218) Hey @rohan09-raj Can I do this please?Uh oh! sorry already assigned to someone else.You can always check th

[2022-01-15 10:53] rohan09-raj commented on #218
You can join our discord server where we do this feature building stuff on various frameworks and tech.
Read us about more here
https://www.realdevsquad.com/

Discord Server Link
https://www.realdevsquad.com/> Respect Sir, I'm Siddharaj Yadav a computer engineering undergraduate, Pursuing TE at D Y Patil College under (Pune University). I am new to open source contribution but I am well aware of P

[2022-01-15 11:37] akshay1502 commented on #192
Really sorry, but this issue is assigned. You can look for other issues in the repo. Have you joined the discord server?

[2022-01-15 11:40] NaincyKumariKnoldus commented on #192
No I haven't joined.

[2022-01-15 12:44] akshay1502 commented on #192
https://discord.gg/fvcKRpSG you can join the server using this link. @NaincyKumariKnoldus

[2022-01-15 13:08] #192 closed

[2022-01-17 03:40] SidharajYadav commented on #218
Yes , continue Sent from Mail for Windows From: NaincyKumariKnoldusSent: Saturday, January 15, 2022 3:50 PMTo: Real-Dev-Squad/website-welcomeCc: SidharajYadav; CommentSubject: Re: [Real-Dev-Squad/website-welcome] Update the file structure in `CONTRIBUTING.md` (Issue #218) Hey @rohan09-raj Can I do this please?—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on

[2022-01-17 03:54] SidharajYadav commented on #218
yes , thank you

[2022-01-21 15:11] #218 closed

[2022-01-22 06:29] DeRaowl commented on #176
@Rucha1499 can you assign this task to me

[2022-01-23 10:37] #176 closed

[2022-01-23 12:47] Ishikabaid opened #224 "Make `Check them out` arrow clickable"
Ideally the arrow pointed out in the image should be clickable and should redirect us to https://www.realdevsquad.com/releases.
But it is not clickable at the moment, so we need to fix this.
![Screenshot (201)](https://user-images.githubusercontent.com/59817624/150679094-5888bd6a-1b20-4d6b-8dee-6ca2db4dbefe.png)

[2022-01-23 12:57] anmoldewanrai commented on #224
I'd like to take this one.

[2022-01-23 12:57] akash2819 commented on #224
assign me

[2022-01-23 13:09] anmoldewanrai commented on #224
Accidentally deleted the previous comment. Anyway, happy to contribute!

[2022-01-23 18:01] Sathasivamthirumoorthi commented on #212
I would like to work on this!

[2022-01-23 18:03] Sathasivamthirumoorthi commented on #224
Since , I am new to open source , I would like to work on this.

[2022-01-26 15:37] #224 closed

[2022-01-31 19:08] #212 closed

[2022-02-22 15:05] minalchaudhari14 commented on #67
Can you please assign me this issue?

[2022-02-25 07:30] aakankshadhurandhar commented on #185
@akshay1502 Can you assign me this issue ?

[2022-05-08 04:25] #185 closed

[2022-06-07 11:19] rohan09-raj opened #229 "Fix navbar display picture"
## Current Scenario
In the navbar of the welcome site, we are using the user image from [website-static](https://github.com/Real-Dev-Squad/website-static)
![image](https://user-images.githubusercontent.com/78433013/172367770-d902b9ee-7576-4d1f-aab6-56e9ef182acf.png)

## Task
Instead of using an image of the user from website-static, we need to fetch it from the `/users/self` API and set the displa

[2022-06-07 11:30] Mrityunjay1 commented on #229
assign it to me will look into this

[2022-06-28 08:34] #229 closed

[2022-08-22 17:47] RitikJaiswal75 opened #232 "Stop tests on push"
## Issue
- When a PR is created, the git workflow runs tests on all the pull requests, but once the tests are run on pull requests they run again during push

### When was the issue discovered?
- The issue was discovered on 18th August 2022 during a hangout call while trying to merge PRs.

### Files that might be creating this
- `.github/workflows/test.yml`

### Screenshot of the Problem
![image](

[2022-08-23 01:07] RitikJaiswal75 opened #233 "[RFC] Assets are coming from static repository"
## Issue
The assets such as Profile pic on this website are being fetched from the static assets repository. Thus, it creates a problem for users being unable to upload their profile pictures for this specific site.

## Screenshot for reference:
![image](https://user-images.githubusercontent.com/57758447/186045909-86c3962b-92b7-4174-a432-a4c10725bec3.png)

#### This issue might require integration

[2022-08-23 04:00] RitikJaiswal75 opened #234 "Sign Out option in Navbar"
## Issue
- User unable to sign out.

### Description
Currently, When the user visits the rds website, they sign in with git hub but are unable to sign out. This feature will enable them to sign out by providing them with an option to sign out in a dropdown from the navbar.

## Solution being implemented
- An API for signout in the backend
    - PR for backend: https://github.com/Real-Dev-Squad/web

[2022-08-23 04:25] RitikJaiswal75 commented on #234
This PR might help you in getting the task done faster
- https://github.com/Real-Dev-Squad/website-www/pull/268

[2022-09-17 12:46] rupal-2505 opened #235 "To Fix Navbar"
**Issue**
- Navbar is being scrolled with page.

**Description**
Currently , when user scroll-down the RDS website, the navbar is scrolled down .
So this feature will make the navbar sticky and make it visible even after scrolling down the website.

**Screenshot for reference**

![Screenshot (74)](https://user-images.githubusercontent.com/109535116/190857126-acfcc769-5c42-43c2-ba7b-09c95f8ccb60.pn

[2022-09-17 12:57] rupal-2505 opened #236 "To fix fonts of website"
### **Issue**
- Different fonts on website page.

### **Description**
Fonts of website pages are different, which makes it look bad.
This issue will fix the fonts of website pages to look it neat and better.

[2022-09-30 21:12] Maheima opened #237 "Add description about the website in repo"
Add a brief description of the purpose of the website Refer to [how it is done here](https://github.com/Real-Dev-Squad/website-dashboard )

[2022-10-05 14:56] Maheima opened #239 "Clicking on real dev squad logo should take the user to homepage"
Currently, when you click on the logo, it doesn't do anything but it should be taking the user to homepage.

![image](https://user-images.githubusercontent.com/42349041/194092199-ad7b85a0-990d-4438-85ea-10ba4bc65ec5.png)

[2022-10-05 15:06] kiran-thilak commented on #239
Hi, Can I work on this issue?

[2022-10-05 15:24] Maheima commented on #239
Over to you. Please share the ETA

[2022-10-05 15:35] kiran-thilak commented on #239
Will take 20 min to fix it and raise the PR.

[2022-10-05 15:36] Maheima commented on #239
Awesome!

[2022-10-05 17:03] MahendraBishnoi29 commented on #235
i want to work on this

[2022-10-06 07:07] #239 closed

[2022-10-06 07:16] grraghav120 opened #241 "Add Scroll Up Button for User friendly"
Making the website more user friendly by adding Scroll Up Button.

[2022-10-15 12:18] NadaaFarook commented on #241
@vinayak-trivedi If it's not picked yet, I work on it.

[2022-10-21 05:51] Akshitbhati commented on #241
i want to work on it

[2022-10-25 18:49] ivinayakg opened #243 "Integrated new Signup Flow"
## Issue
When signing in with GitHub send the page href in query params as `&state=`
- RFC - https://github.com/Real-Dev-Squad/website-backend/issues/688

### Description
When you visit the `main site` and click on login, you are redirected to the original GitHub login page. We want to emulate a similar scenario for the `welcome site`.

### Expected Flow
- User visits `welcome-site` for the first